.titulo{
    /* color: black;/* color de h1  
        /* text-decoration: underline; */ /* linea abajo  */
        /* text-decoration:  overline;  linea arriba   */ 
               text-decoration-color: #00ff00;   
               font-family: 'Roboto', sans-serif;
               font-family: 'Roboto Slab', serif;
               font-size: 4px;
}
.titulo:first-letter{  
    font-size: 50px;
color:rgb(136, 136, 226);
 
} 
 .body01{
    background-color:rgb(207, 207, 37);
    height:50px;
    padding: 100px;
    max-width: 3000px;
    width:100%;
   
  }
  .Seccion-futura{
    height: 280px;
    max-height: 100%;
    background-image: url("pie.jpg");
    background-color: #cea135;
    max-width: 3000px;
    width:100%;
    color: #11122b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Ubuntu Condensed", sans-serif;
    max-width: 3000px;
    width:100%;
} 

.Seccion-futura > .columna-c {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    max-width: 3000px;
    width:100%;
}
  
.columna {
    padding: 20px;
    margin: 42px;
    text-align: center;
    border-bottom: 5px solid transparent;
    border-radius: 10px;
    transition: 1s;
    max-width: 3000px;
    width:100%;
}

.Seccion-futura > .columna-c .columna:hover {
    border-bottom: 5px solid #11122b;
}
.carousel-inner{
  
     max-height: 100%;
    max-width: 3000px;
    width:100%;
   
}
 .carousel-item{
  
    max-height: 100%;
    max-width: 3000px;
    width:100%;
 }
 .promo {
    display: flex;
    
    max-height: 100%;
    max-width: 3000px;
    width:100%;
 justify-content: center;
    align-items: center;
  }
  .publish > form > div {
    height: 50px;
    margin: 10px;


}
h3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #cea135;
    padding: 42px;
}

.publish > form > div > input{
    width: 50%;
    margin: 5px;
}
 

   
  .publish > p {
    font-size: 16px;
    color: wheat;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
 
  
  .publish > form p {
      
    color: white;
    margin-right: 18px;
  }

  .features {
    background-color: white;
    padding: 5% 10%;
    display: grid;
    grid-template: repeat(2, 330px) / repeat(2, 1fr);
  }
  
  .features .feature-card {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: black;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  main {
 
    text-align: center;
  }
  
  .features .feature-card .feature-content {
    padding: 30px 20px 40px 40px;
    flex: 2;
  }
  
  .features .feature-card .feature-content > * {
    margin-bottom: 1rem;
    margin-top: 0;
  }
  
  .features .feature-card .feature-content img {
    width: 50px;
  }
 
  
  .features .feature-card .feature-content p {
    font-size: 16px;
    color: white;
    font-weight: 400;
  }
  
  .features .feature-card .feature-content a {
    font-size: 16px;
    color: rgb(71, 143, 57);
    font-weight: 600;
    text-decoration: none;
  }
  
  .features .feature-card .feature-image {
    flex: 1;
    width: 40%;
    position: relative;
    right: 30px;
    height: 40%;
  }
  
  .features .feature-card .feature-image figure,
  .features .feature-card .feature-image img {
    margin-top: 0;
    height: 100%;
  }
  h4{
	font-family:  "Times New Roman",Georga,serfir;
	font-size:"6";
	font-weight:"bold";
	text-align:center;
	text-decoration: blink;
		color:white;}      
       
        @media (min-width: 200px) and (max-width: 400px) { 
            * {
              margin: 0;
              padding: 0;
              box-sizing: border-box;
              
            }
              .navbar {
                list-style:none;
                padding:0;
                 background:#E17825;  
                
                width:100%;
                max-width: 3000px;
              margin:auto;
              background-image: initial;
              }
              
              .navbar-light .nav-item .nav-link {
                text-decoration: blink;
                color: white;
                padding: 10px;
                display:block;
                font-size: 14px;
                
              
              }
              
              .navbar-light .navbar-toggler {
                 color: blue;
                  text-align:center;
              }
              
              
              .navbar li a:hover{
                  background:yellow;
                  }
                  p1{
                      color: black;
                      font-size:12px;
                    }
                    p2{
                      color: black;
                      font-size:12px;
                      text-align: center;
                    }
                    
                     
                  .icono-phone{
                color:#dadada;
                margin: right 12x;
                padding: 8px;
                  }
                  .icono-phone i{
                    font-size: 12px;
                     text-align: left;
                  }
                  p4{
                    color: black;
                    font-size: 12px;
                  }
                  p5{
                    color: black;
                    font-size:12px;
                    text-align: center;
                  }
                 
                  .body01{
                      background-color: #9E4C3A;
                      height:100%;;
                      max-width: 3000px;
                      width:100%;
                      text-align: left;
                      height: 200px;
                      
                    }
                   
                    
                    .titulo{
                      font-size: 1px;
                      /* color: black;/* color de h1  */
                           text-decoration: underline;   /* linea abajo  */
                          /* text-decoration:  overline;  linea arriba   */ 
                                 text-decoration-color: #00ff00;   
                                 
                                 
                  }
                  .titulo:first-letter{  
                      font-size:24px;
                  color:rgb(136, 136, 226);
                  text-decoration: underline;
                  }
                  h1{
                    font-size:20px; 
                    color:white;
                    max-width: 3000px;
                    width:100%;
                  }
               

                  .Seccion-futura{
                    max-width: 3000px;
                    width:  100%;
                    max-height: 3000px;
                    height: 100%;
                    background-image: url("pie.jpg");
                    background-color: #cea135;
                    
                    color: #11122b;
                    display: flex;
                    justify-content: left;
                    align-items: left;
                    font-family: "Ubuntu Condensed", sans-serif;
                  font-size: 10px;
                } 
                
                .Seccion-futura > .columna-c {
                  
                    display: list-item;
                    justify-content: space-between;
                    max-width: 3000px;
                 width:  100%;
                 max-height: 3000px;
                 height: 100%;
                }
                  
                .columna {  
                    padding: 1px;
                    margin: 1px;
                    text-align: center;
                
                    border-radius: 5px;
                    transition: 5s;
                    max-width: 3000px;
                    width:  100%;
                    max-height: 3000px;
                    height: 100%;
                }
                
                .Seccion-futura > .columna-c .columna:hover {  
                    border-bottom: 5px solid #11122b;
                    max-width: 3000px;
                    width:  100%;
                    max-height: 3000px;
                    height: 100%;
                  
              }
              .features {
                background-color: white;
                padding: 10% 5%;
                display:  list-item;
                grid-template: repeat(1, 200px) / repeat(1, 1fr);

              }
              h4{
                  font-size: 10px;
              }
                
  .features .feature-card .feature-content p {
    font-size: 10px;
    color: white;
    
  }
  
  .features .feature-card .feature-content a {
    font-size: 10px;
    color: rgb(71, 143, 57);
     
    text-decoration: none;
  }
  .features .feature-card .feature-image {
    flex: 1px;
    width: 40%;
    position: relative;
    right: 10px;
    height: 20%;
  }
              
            }

            @media (min-width: 401px) and (max-width: 800px) {
                * {
                  margin: 0;
                  padding: 0;
                  box-sizing: border-box;
                  
                }
                  .navbar {
                    list-style:none;
                    padding:0;
                     background:#C8BFBD;  
                    
                    width:100%;
                    max-width: 3000px;
                  margin:auto;
                  }
                  
                  .navbar-light .nav-item .nav-link {
                    text-decoration: blink;
                    color: black;
                    padding: 10px;
                    display:block;
                    font-size: 14px;
                    
                  
                  }
                  
                  .navbar-light .navbar-toggler {
                     color: blue;
                      text-align:center;
                  }
                  
                  
                  .navbar li a:hover{
                      background:orange;
                      }
                      p1{
                          color: black;
                          font-size:12px;
                        }
                        p2{
                          color: black;
                          font-size:12px;
                          text-align: center;
                        }
                        
                         
                      .icono-phone{
                    color:#dadada;
                    margin: right 12x;
                    padding: 8px;
                      }
                      .icono-phone i{
                        font-size: 12px;
                         text-align: left;
                      }
                      p4{
                        color: black;
                        font-size: 12px;
                      }
                      p5{
                        color: black;
                        font-size:12px;
                        text-align: center;
                      }
                     
                      .body01{
                          background-color: #78CD2C;
                          height:200px;
                          text-align: left;
                          max-width: 3000px;
                          width:100%;
                        }
                       
                         
                        .titulo{
                          font-size: 1px;
                          /* color: black;/* color de h1  */
                               text-decoration: underline;   /* linea abajo  */
                              /* text-decoration:  overline;  linea arriba   */ 
                                     text-decoration-color: #00ff00;   
                                     
                                     
                      }
                      .titulo:first-letter{  
                          font-size:26px;
                      color:rgb(136, 136, 226);
                      text-decoration: underline;
                      }
                      h1{
                        font-size:24px; 
                        color:white;
                        max-width: 3000px;
                        width:  100%;
                        max-height: 3000px;
                        height: 100%;
                      }
                      .Seccion-futura{
           
                        background-image: url("pie.jpg");
                        background-color: #cea135;
                         
                        color: #11122b;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: "Ubuntu Condensed", sans-serif;
                        max-width: 3000px;
                        width:  100%;
                        max-height: 3000px;
                        height: 100%;
                    } 
                    
                    .Seccion-futura > .columna-c {
                       
                        display: flex;
                        justify-content: space-between;
                        max-width: 3000px;
                        width:  100%;
                        max-height: 3000px;
                        height: 100%;
                    }
                      
                    .columna {
                        padding: 1x;
                        margin: 1px;
                        text-align: center;
                        border-bottom: 1px solid transparent;
                        border-radius: 1px;
                        transition: 1s;
                        max-width: 3000px;
                        width:  100%;
                        max-height: 3000px;
                        height: 100%;
                    }
                    
                    .Seccion-futura > .columna-c .columna:hover {
                        border-bottom: 5px solid #11122b;
                        max-width: 3000px;
                        width:  100%;
                        max-height: 3000px;
                        height: 100%;
                    }
                    .features {
                        background-color: white;
                        padding: 10% 5%;
                        display:  contents;
                        grid-template: repeat(2, 200px) / repeat(2, 1fr);
        
                      }
                      h4{
                          font-size: 17px;
                      }
                        
          .features .feature-card .feature-content p {
            font-size: 14px;
            color: white;
            
          }
          
          .features .feature-card .feature-content a {
            font-size: 14px;
            color: rgb(71, 143, 57);
             
            text-decoration: none;
          }
          .features .feature-card .feature-image {
            flex: 1px;
            width: 40%;
            position: relative;
            right: 10px;
            height: 20%;
          }
                     
                  }